@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
  transition: all .35s cubic-bazier(0.175, 0.885, 0.32, 1.275);
}

.htm, body{
  overflow:x;
}
.box{
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f66;
  color: #fff;
  border-radius: 50%;
}
.bg-blue-500{
  height: 60px;
  width: 60px;
  background: rgb(41, 212, 61);
  border-radius: 50%;
  padding-top: 2rem;
}
 @layer components{
  .shad{
    box-shadow: 0 0 18px -8px #134264;
  }
 }